<!-- SAP-GitHub Integration Playbook Navigation -->
<nav class="main-nav">
  <ul>
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li>
      <a href="{{ site.baseurl }}/docs/1-architecture/">Architecture</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/docs/2-implementation-guide/">Implementation Guide</a>
      <ul>
        <li><a href="{{ site.baseurl }}/docs/2-implementation-guide/getting-started/">Getting Started</a></li>
        <li><a href="{{ site.baseurl }}/docs/2-implementation-guide/sap-setup/">SAP Setup</a></li>
        <li><a href="{{ site.baseurl }}/docs/2-implementation-guide/github-setup/">GitHub Setup</a></li>
        <li><a href="{{ site.baseurl }}/docs/2-implementation-guide/workflows/">Workflows</a></li>
        <li><a href="{{ site.baseurl }}/docs/2-implementation-guide/apim-setup/">API Management Setup</a></li>
        <li><a href="{{ site.baseurl }}/docs/2-implementation-guide/security-setup/">Security Setup</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ site.baseurl }}/docs/3-developer-guide/">Developer Guide</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/docs/4-operations-guide/">Operations Guide</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/docs/5-reference/">Reference</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/docs/6-appendices/">Appendices</a>
    </li>
  </ul>
</nav> 